# Ignore build outputs
bin/
obj/

# User secrets, local settings
*.user
*.swp
*.suo
*.userosscache
*.sln.docstates

# IDE directories
.vs/
.vscode/
.idea/

# Logs and temp
*.log
**/logs/
**/LogFiles/

# Dotnet artifacts
artifacts/
TestResults/
.nuget/

# Git
.git/
.gitignore
.gitattributes

# Misc
Dockerfile.*
**/*.db
**/*.sqlite
*.DS_Store
Thumbs.db
